body {
  background-image: url("../images/lowpoly_background.png");
  background-size: cover;
  color: #00313d;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  margin: 1rem 0;
}
h2,
h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  margin: 0;
}

p {
  text-align: center;
  margin: 0px;
  font-style: italic;
  margin-bottom: 15px;
}

ul {
  padding: 0;
  margin: 0 0 0 40px;
}

li {
  list-style: none;
}

.container {
  margin: 20px auto 0px;
  max-width: 800px;
  width: 80%;
}
.weather-container {
  margin: 40px auto;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: rgba(235, 251, 255, 0.4);
  box-shadow: 0px 0px 20px 20px rgba(235, 251, 255, 0.4);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.next-days {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.next-days div {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: rgba(235, 251, 255, 0.2);
  box-shadow: 0px 0px 5px 5px rgba(235, 251, 255, 0.2);
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.next-days div:hover {
  background-color: rgba(235, 251, 255, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(235, 251, 255, 0.6);
}

.big-icon {
  max-width: 150px;
  display: block;
}

.small-icon {
  width: 100px;
  padding: 10px;
}

.forecast-info {
  opacity: 50%;
  font-family: "Pacifico", cursive;
}

#current-temperature {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

#celsius,
#fahrenheit {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: rgba(0, 49, 61, 0.3);
  cursor: pointer;
}

#celsius.active,
#fahrenheit.active {
  color: rgba(0, 49, 61, 0.9);
  cursor: default;
}

#current-weather-description {
  font-weight: bolder;
}

#current-weather-description::first-letter {
  text-transform: capitalize;
}

#search-form {
  display: flex;
  margin: 0 auto;
}

#city-search {
  height: 100%;
  display: flow-root;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-clip: border-box;
  background-color: rgba(235, 251, 255, 0.4);
  border: 1px solid #009fc7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hidden {
  display: none;
}

.button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  color: #009fc7;
  background-color: transparent;
  border: 1px solid #009fc7;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #009fc7;
  border-color: #009fc7;
}

.fas {
  line-height: 1;
}

.footer {
  font-style: normal;
  opacity: 70%;
}

.footer a {
  text-decoration: none;
  color: rgb(235, 251, 255);
}

.footer a:hover {
  color: #00313d;
}
